.popup-estructura {
  cursor: pointer;
  animation: aparece-popup .1s ease-in-out both;
}

.contenido-popup {
  font-size: 12px;
  padding: 4px 2px 0px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido-popup .botones {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px;
}

.contenido-popup button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.contenido-popup form {
  display: flex;
  flex-direction: column;
  max-width: 120px;
}

.contenido-popup form input {
  font-size: 12px;
}

@keyframes aparece-popup {
  0% {
    opacity: 0;
    margin-top: 16px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}