.lista-estructuras h4 {
  text-transform: uppercase;
  font-size: 11px;
  margin: 16px 0 12px 0;
  letter-spacing: 2px;
  font-weight: bold;
  animation: aparece-contenido .25s ease-in-out both;
}

.lista-estructuras ul li {
  padding-bottom: 8px;
  cursor: pointer;
  animation: aparece-contenido .25s ease-in-out both;
}

.lista-estructuras .nombre-estructura {
  text-transform: capitalize;
  font-size: 11px;
  transition: color .1s ease-in-out;
}

.lista-estructuras ul:hover li:not(:hover) .nombre-estructura {
  color: #999998;
}

@media (max-width: 760px) {
  .lista-estructuras {
    display: none;
  }
}