.Landing {
  height: 100%;
  width: 100%;
  transition: all .35s ease-in-out;
  background-color: #212322;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Landing img {
  max-width: 25rem;
  margin-bottom: 32px;
  animation: aparece-bienvenida .3s ease-in-out both;
}

.Landing p {
  animation: aparece-bienvenida .3s .25s ease-in-out both;
}

.Landing--compacto {
  width: calc(100vw - 25rem);
}

.Landing__bienvenida {
  color: white;
  padding: 24px;
  line-height: 2;
  font-size: 1rem;
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.Landing button {
  background-color: #D4001C;
  border: none;
  color: white;
  padding: 12px 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 20px;
  margin-top: 24px;
  height: 40px;
  cursor: pointer;
  animation: aparece-bienvenida .3s .5s ease-in-out both;
}

@keyframes aparece-bienvenida {
  0% {
    transform: translateY(12px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (orientation: portrait) {
  .Landing--compacto {
    width: 100vw;
  }
}