.Secciones {
  display: flex;
  align-items: center;
  color: #AB989D;
}

.Secciones__link_navegacion {
  margin-left: 4rem;
  text-transform: uppercase;
  font-size: .8rem;
  height: 4rem;
  display: flex;
  align-items: center;
  color: #AB989D;
  animation: aparece-nombre-seccion .25s ease-in-out both;
  transition: all .15s ease-in;
}

.Secciones__link_navegacion:hover {
  color: white;
}

.Secciones__link_navegacion:hover:not(:last-child):not(.seccion-activa) {
  box-shadow: inset 0 .3rem 0 0;
  margin-top: 0;
}

.Secciones__link_navegacion--activo {
  color: white !important;
  box-shadow: inset 0 .3rem 0 0 #D6001C;
  margin-top: 0;
}

@media (orientation:portrait) {
  
  .Secciones {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 2;
  }

  .Secciones__link_navegacion {
    margin: 0;
    flex: 1;
    font-size: .8rem;
  }
}
