div[class^="seccion-fondo-oscuro"] {
  width: calc(100vw - 240px);
  height: calc(100vh - 65px);
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .25s ease-in-out;
  filter: none;
}

.contenedor-tabla-grande {
  padding: 28px 48px;
  height: calc(100vh - 64px);
  overflow-y: auto;
  flex: 1;
}

.contenedor-tabla-grande .encabezado-tabla {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  height: 28px;
}

.contenedor-tabla-grande .encabezado-tabla .busqueda input {
  border: 1px solid #444444;
  height: 28px;
  border-radius: 14px;
  padding: 0 32px;
  font-size: 12px;
  min-width: 160px;
}

.contenedor-tabla-grande .busqueda svg {
  color: #444444;
}

.contenedor-tabla-grande .busqueda .icono-buscar {
  transform: translateX(24px);
}

.contenedor-tabla-grande .busqueda .icono-limpiar-busqueda {
  cursor: pointer;
  animation: aparece-limpieza-busqueda .1s ease-in-out both;
  transform: translateX(-24px);
}

.contenedor-tabla-grande .titulo {
  display: flex;
}

.contenedor-tabla-grande h1 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-right: 8px;
  color: white;
}

.contenedor-tabla-grande table {
  background-color: white;
  width: 100%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
}

.contenedor-tabla-grande thead {
  margin-bottom: 14px;
  border-bottom: 2px solid #EEEEEE;
}

.contenedor-tabla-grande tr {
  transition: background-color .1s ease-in-out;
  animation: aparece-fila-tabla .25s ease-in-out both;
}

.contenedor-tabla-grande tbody tr:hover {
  background-color: #F5F5F5;
}

.contenedor-tabla-grande th {
  letter-spacing: 1px;
  padding: 24px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}
 
.contenedor-tabla-grande td {
  font-size: 12px;
  padding: 18px 24px;
}

.contenedor-tabla-grande tbody tr:not(:last-child) {
  border-bottom: 1px solid #EEEEEE;
}
 
.contenedor-tabla-grande td:last-child {
  display: flex;
  align-items: center;
}

.boton-agregar {
  cursor: pointer;
  color: white;
}

span[class^="tag-"] {
  font-size: 8px;
  color: white;
  padding: 6px 5px;
  margin-left: 4px;
  border-radius: 6px;
  height: 12px;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.tag-usuario-nuevo {
  background-color: #30B700;
}

.tag-usuario-grupo {
  margin-left: 0;
}

.busqueda-destacada {
  font-weight: bold;
  text-decoration: underline;
}

.boton-agregar-grupo {
  background-color: transparent;
  border: none;
  color: transparent;
  height: 13px;
  width: 13px;
  border-radius: 100%;
  font-size: 9px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: 6px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.contenedor-tabla-grande td:last-child:hover .boton-agregar-grupo {
  color: #424242;
}

@keyframes aparece-limpieza-busqueda {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparece-fila-tabla {
  0% {
    opacity: 0;
    transform: translateX(-12px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}