.InfoContenido {
  overflow-y: auto;
  color: #212322;
  padding: 20px 24px 8px 24px;
}

.InfoContenido__titulo {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  animation: aparece-contenido .25s ease-in-out both;
}

.InfoContenido__contenedor_grupos {
  display: flex;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.InfoContenido__grupo {
  font-size: .6em;
  border-radius: .9em;
  padding: .5em 1em;
  color: white;
  margin-right: .25em;
  user-select: none;
  cursor: help;
  margin-bottom: .25em;
}

.InfoContenido__descripcion {
  font-size: 12px;
  line-height: 1.5;
  animation: aparece-contenido .25s ease-in-out both;
}

@keyframes aparece-contenido {
  0% {
    transform: translateX(-12px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
