.app {
  height: 100vh;
}

.app nav {
  height: 64px;
  background-color: black;
  color: white;
}

.app main {
  display: flex;
}

.contenedor-lateral {
  flex: 1;
  min-width: 240px;
  background-color: gray;
}

.contenedor-principal {
  flex: 5;
  background-color: black;
}