.NuevoContenido {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.NuevoContenido__titulo {
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
  user-select: none;
  font-weight: bold;
}

.NuevoContenido__campo {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.NuevoContenido__label {
  text-transform: uppercase;
  margin-bottom: .25em;
  font-size: .8em;
  letter-spacing: 1px;
  user-select: none;
}

.NuevoContenido__label_cb_grupo {
  text-transform: uppercase;
  font-size: .8em;
  user-select: none;
  cursor: pointer;
}

.NuevoContenido__input[type=text] {
  padding: .5em;
}

.NuevoContenido__textarea {
  height: 5em;
  resize: none;
  padding: .5em;
}

.NuevoContenido__contenedor_cb {
  margin-bottom: .5em;
  display: flex;
  align-items: center;
}

.NuevoContenido__cb_grupo {
  margin-right: .5em;
  cursor: pointer;
}

.NuevoContenido__boton_agregar:disabled {
  background-color: white;
  border: 1px dashed #cecece;
  color: gray;
  cursor: not-allowed;
}

.NuevoContenido__boton_agregar {
  background-color: #D4001C;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  height: 2.5em;
  border-radius: 1.5em;
  border: none;
  letter-spacing: 1px;
  font-size: .8em;
  width: 100%;
  margin-top: 1em;
  transition: all .25s ease-in;
}