.breadcrumb {
  font-size: 9px;
  text-transform: uppercase;
  padding: 0px 18px;
  height: 20px;
  display: flex;
  align-items: center;
  user-select: none;
  background-color: white;
  margin-top: 8px;
}

.breadcrumb a {
  text-decoration: none;
  color: #212322;
  animation: aparece-breadcrumb .25s ease-out both;
}

.breadcrumb a::before {
  content: '­­>';
  margin-right: 6px;
  margin-left: 6px;
}

@keyframes aparece-breadcrumb {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}