.Miniaturas {
  display: flex;
  align-items: center;
  margin-top: 12px;
  overflow-x: auto;
  padding-bottom: 4px;
}

.Miniaturas__miniatura_imagen {
  height: 42px;
  min-width: 42px;
  margin-right: 5px;
  border-radius: 4px;
  transition: all .25s ease-in-out;
  animation: aparece-miniatura .25s ease-in-out both;
  cursor: pointer;
}

.Miniaturas__miniatura_imagen_seleccionada {
  border: 2px solid #D4001C;
}

.Miniaturas__boton_agregar_imagen {
  min-width: 42px;
  height: 42px;
  background-color: transparent;
  border: 1px dashed #9E9E9E;
  color: #9E9E9E;
  border-radius: 8px;
  cursor: pointer;
  animation: aparece-miniatura .25s ease-in-out both;
}

.Miniaturas__boton_agregar_imagen:hover {
  border: 1px dashed #222222;
  color: #222222;
}

.Miniaturas__miniatura_imagen:not(.Miniaturas__miniatura_imagen_seleccionada) {
  filter: saturate(0);
  border: 2px solid #212322;
}

.Miniaturas__miniatura_imagen:hover {
  filter: saturate(1);
}

@keyframes aparece-miniatura {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}