.acciones-subseccion {
  opacity: 0;
  transition: all .1s ease-in-out;
}

.lista-items li:hover .acciones-subseccion {
  opacity: 1;
}

.ListaSubsecciones__icono_link_subseccion {
  margin-left: .25em;
  font-size: 1.25em;
  margin-right: 1em;
}