svg[class^="marcador"] {
  cursor: pointer;
  fill: red;
  transition: all .1s ease-in-out;
  clip-path: circle(.3rem);
}

.marcador-destacado {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .5));
}
