aside {
  min-width: 25rem;
  width: 25rem;
  background-color: white;
  box-shadow: 2px 0 4px rgba(0,0,0,.15);
  z-index: 2;
  overflow-x: auto;
  transform: translateX(-240px);
  transition: all .5s ease-in-out;
  background-image: url('../../assets/textura_textil.png');
  max-height: calc(100vh - 64px);
}

aside::-webkit-scrollbar {
  background-color: #ddd;
  width: .6em;
  height: .6em;
}

aside::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background-color: #D4001C;
}

aside.visible {
  transform: translateX(0);
}

aside.invisible {
  display: none;
}

aside ul.lista-items {
  padding-top: 4px;
  overflow-y: auto;
}

aside ul.lista-items li {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  color: #212322;
  font-weight: bold;
  animation: aparece-item .25s ease-in-out both;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 24px;
  line-height: 1.5;
}

aside ul.lista-items li:hover {
  color: #AB989D;
}

aside ul.lista-items a {
  display: flex;
  flex-direction: row;
  padding: 12px 0;
  flex: 1;
}

aside .contenedor-lista {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside *[class^="boton"] {
  padding: 8px 12px;
  border-radius: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  text-align: center;
}

aside .boton-agregar {
  background-color: #D4001C;
  color: white;
  margin: 32px 24px;
  transition: all .15s ease-in-out;
  animation: aparece-boton-agregar .25s ease-in-out both;
  border: none;
}

aside .boton-agregar:disabled {
  background-color: white;
  border: 1px dashed #212322;
  color: #212322;
  cursor: not-allowed;
}

aside .boton-agregar:hover:not(:disabled) {
  background-color: #F9423A;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, .15);
}

aside .boton-eliminar {
  background-color: white;
  color: gray;
  margin-top: 48px;
  border: 1px dashed #E0E0E0;
  width: 100%;
}

aside .mensaje-lista-vacia {
  padding: 24px;
  font-size: 12px;
  font-style: italic;
}

@keyframes aparece-item {
  0% {
    transform: translateX(-12px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes aparece-boton-agregar {
  0% {
    transform: translateY(12px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (orientation: portrait) {
  aside {
    width: 100%;
  }
}