aside {
  width: 240px;
  background-color: white;
  box-shadow: 2px 0 4px rgba(0,0,0,.15);
  z-index: 2;
  height: calc(100vh - 64px);
  overflow-x: auto;
}

@media (max-width: 600px) {
  aside {
    width: 100%;
    height: auto;
    padding-bottom: 16px;
  }
}