.Header {
  height: 64px;
  background-color: #212322;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
}

.Header__brand {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.Header__brand_image {
  height: 22px;
  width: auto;
}

.Header__brand_link {
  color: white;
}

.Header__navegacion {
  height: 60px;
  display: flex;
  align-items: center;
}

.Header__contenedor_selector_grupo label, .Header__contenedor_selector_grupo option {
  font-size: 12px;
}

.Header__contenedor_selector_grupo select option::after {
  content: 'x';
}

.Header__contenedor_selector_grupo label {
  color: white;
  margin-right: 8px;
}

@keyframes aparece-nombre-seccion {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
