.Header {
  height: 4rem;
  background-color: #212322;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
}

.Header__brand {
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.Header__brand_image {
  height: 1.5rem;
  width: auto;
}

.Header__brand_link {
  color: white;
}

.Header__navegacion {
  height: auto;
  display: flex;
  align-items: center;
}

.Header__contenedor_selector_grupo label, .Header__contenedor_selector_grupo option {
  font-size: .8rem;
}

.Header__contenedor_selector_grupo select option::after {
  content: 'x';
}

.Header__contenedor_selector_grupo label {
  color: white;
  margin-right: 1rem;
}

@keyframes aparece-nombre-seccion {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Header__mostrar_menu {
  display: none;
  background: none;
  color: rgba(255, 255, 255, .95);
  border: none;
  font-size: 1.25em;
}

.Header__ocultar_menu {
  display: none;
  background: none;
  color: rgba(255, 255, 255, .95);
  border: none;
  font-size: 1.25em;
  position: absolute;
  right: 1em;
  top: 1em;
}

@media (orientation:portrait) {

  .Header__mostrar_menu {
    display: block;
  }

  .Header__ocultar_menu {
    display: block;
  }
  
  .Header__navegacion {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -100%;
    right: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    z-index: 3;
    transition: all .5s ease-in-out;
  }

  .Header__navegacion--activa {
    top: 0;
  }
}