#brand {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#brand a {
  color: white;
}

header {
  height: 64px;
  background-color: #212322;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 36px;
  text-transform: uppercase;
  font-size: 11px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  border-color: black;
  animation: aparece-nombre-seccion .25s ease-in-out both;
  transition: color .15s ease-in, border-color .15s ease-in;
}

nav a, nav a:visited {
  color: #AB989D;
}

nav a:hover {
  color: white;
}

nav a:last-child {
  margin-left: 36px;
  border-left: 1px solid #AB989D;
  padding-left: 36px;
  padding-right: 12px;
  height: 24px;
}

nav a:hover:not(:last-child):not(.seccion-activa) {
  border-top: 4px solid #AB989D;
  margin-top: 0;
}

nav a.seccion-activa {
  color: white;
  border-top: 4px solid #D6001C;
  margin-top: 0;
}

@keyframes aparece-nombre-seccion {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
