.Slider {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.Slider__contenedor_imagen {
  display: flex;
  overflow: hidden;
  position: relative;
}

.Slider__imagen {
  max-height: calc(100vh - 8rem);
}

.Slider__control {
  margin: 0 4rem;
  width: 90%;
}

.Slider__marcador_imagen {
  width: .5rem;
  height: .5rem;
  background: red;
  position: absolute;
  border-radius: 1in;
  cursor: pointer;
  transform: translate(-.25rem, -.25rem);
}

@media (orientation: portrait) {

  .Slider {
    width:100vw;
  }

  .Slider__contenedor_imagen {
    max-height: calc(100vh - 58rem);
  }
  
  .Slider__imagen {
    max-height: calc(100vh - 58rem);
  }
}