.Breadcrumb {
  font-size: 8px;
  text-transform: uppercase;
  padding: 0px 18px;
  height: 20px;
  display: flex;
  align-items: center;
  user-select: none;
  margin-top: 8px;
  margin-left: 6px;
}

.Breadcrumb__link {
  text-decoration: none;
  color: #212322;
  animation: aparece-breadcrumb .25s ease-out both;
  padding-top: 2px;
  padding-bottom: 2px;
}

.Breadcrumb__link:not(:first-child)::before {
  content: '­­>';
  margin-right: 6px;
  margin-left: 6px;
}

@keyframes aparece-breadcrumb {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (orientation:portrait) {
  .Breadcrumb {
    display: none;
  }
}