.Breadcrumb {
  font-size: .5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  user-select: none;
  padding: .35rem 0 .35rem 1rem;
  gap: .35rem;
  color: #212322;
}

.Breadcrumb__link {
  text-decoration: none;
  animation: aparece-breadcrumb .25s ease-out both;
  display: flex;
  align-items: center;
  gap: .35rem;
}

.Breadcrumb__link:not(:first-child)::before {
  content: '­­>';
}

@keyframes aparece-breadcrumb {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (orientation:portrait) {
  .Breadcrumb {
    display: none;
  }
}