.fondo-oscuro {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-formulario {
  padding: 24px;
  background-color: white;
}