.MenuSeccion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MenuSeccion__formulario_agregar_subseccion {
  padding: 1rem;
}

.MenuSeccion__formulario_label {
  text-transform: uppercase;
  margin-bottom: .35rem;
  font-size: .7rem;
  letter-spacing: 1px;
  user-select: none;
}

.MenuSeccion__formulario_input {
  width: 100%;
  padding: .5em;
  text-transform: uppercase;
  font-size: .8em;
}

.MenuSeccion__boton_agregar {
  background-color: #D4001C;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  height: 2.5em;
  border-radius: 1.5em;
  border: none;
  letter-spacing: 1px;
  font-size: .65em;
  width: 100%;
  margin-top: 1em;
  transition: all .25s ease-in;
}

.MenuSeccion__boton_agregar:disabled {
  background-color: white;
  border: 1px dashed #cecece;
  color: gray;
  cursor: not-allowed;
}

.boton-eliminar-subseccion {
  background: none;
  border: none;
  cursor: pointer;
  color: #212322;
}

.boton-eliminar-subseccion:hover {
  color: #AB989D;
}

.MenuSeccion__boton_agregar_subseccion {
  background-color: #D4001C;
  color: white;
  margin: 32px 24px;
  transition: all .15s ease-in-out;
  animation: aparece-boton-agregar .25s ease-in-out both;
  border: none;
}